<!DOCTYPE html>
<html>
	<head>
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style2.css">
		<!-- JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/push.min.js"></script>
		<script src="/scripts/cookie.js"></script>
        <script src="/scripts/helpers.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	</head>
	
	<body>
		<div class="container" ng-app="" ng-controller="ctrl">
		
			<div>
				<h2>Chat</h2>
				<p>Using Node.js & jQuery</p>
				<p>Notifications may not work for Chrome, because the connection is not Secure (https)</p>
				<h5>Messages</h5>
			</div>
			
			<div id="messages" style="overflow-y: scroll; max-height: 350px">
              
			</div>
			
			<div class="jumbotron">
            <input id="name" class="form-control" placeholder="Name" required>
            <br />
            <div class="input-group">
                <textarea id="message" type="text" class="form-control" style="height:100px" placeholder="message"></textarea>
                <span class="input-group-btn">
                    <button id="send" class="btn btn-success" type="button" style="height:100px">Send</button>
                </span>
            </div>
        </div>
		
		</div>
	</body>
<script>

    $(() => {
        // set name by cookie
        var name = readCookie("name");

        if (name != "null") {
            $("#name").val(name);
        }

        $("#send").click(() => {
            var message = {
                name: $("#name").val().trim(),
                message: $("#message").val().trim(),
                date: new Date()
            };
            if (!message.name || !message.message) {
                alert('Name + Message are required.');
                return;
            }
            createCookie('name', message.name, 0.16);
            postMessage(message);
            $("#message").val('');
        });
        getMessages();
    })

    $("#message").on("keypress", function (e) {
        /* ENTER PRESSED*/
        if (e.keyCode == 13) {
            e.preventDefault();
            $("#send").click();
        }
    });

    var socket = io();

    socket.on('message', (message) => {
        addMessage(message);
        updateScroll();
        if (message.name.trim() != $("#name").val()) {
            Push.create('New Message', {
                body: message.name + ": " + message.message,
                icon: '/img/msgicon.png',
                timeout: 4000,
                onClick: function () {
                    window.focus();
                    this.close();
                }
            });
        }
    });

    function addMessage(message) {
        var urlFiedMessage = urlify(message.message);
        $("#messages").append(`
        <div class="message darker">
            <h5>${message.name}</h5>
            <p style="margin-left:15px; word-break: break-all">${urlFiedMessage}</p>
            <span class="time-left">${message.date.substring(0, 21)}</span>
        </div>
        `);
    }
    function getMessages() {
        var path = window.location.pathname.substring(1, window.location.pathname.length);
        $.get('/messages?chat='+path, (data) => {
            data.forEach(addMessage);
        });
        updateScroll();
    }

    function updateScroll() {
        var element = document.getElementById("messages");
        element.scrollTop = element.scrollHeight;
    }

    //  <li ng-repeat="prop in props" ng-click="setSelected(prop)" ng-class="{selected: prop == selectedprop}" ng-cloak="">{{prop.label}}</li>

    function ctrl(){
        $scope.setSelectedProps = function (onlineUsers){
            props = onlineUsers;
        };

        $scope.props = [];
    }

</script>
</html>